!!!
%head
  %title Table Translator
  %link(rel="stylesheet" href="/app.css")
  %script(type="text/javascript" src="/jquery-1.7.2.min.js")
  %script(type="text/javascript" src="/app.js")

%body
  .input

    .top-instructions

      Enter a table in
      .dropdown
        %select#input-format(name="input-format")
          %option(value="mysql" selected="selected") MySQL
          %option(value="html") HTML
          %option(value="tsv") TSV
          %option(value="yaml") YAML
      format

    %textarea

    .bottom-instructions

      Translate to
      .dropdown
        %select#output-format(name="output-format")
          %option(value="csv") CSV
          %option(value="html" selected="selected") HTML
          %option(value="json") JSON
          %option(value="ruby") Ruby
          %option(value="yaml") YAML

      %label
        %input#parse-numbers(name="parse-numbers" type="checkbox")
        Parse numbers

      %button Go

  .output
