!!!
%head
  %title Table Translator
  %link(rel="stylesheet" href="/app.css")
  %script(type="text/javascript" src="/jquery-1.7.2.min.js")
  %script(type="text/javascript" src="/app.js")

%body
  .input
    .instructions
      Enter a table in
      %select#input-format(name="input-format")
        %option(value="mysql" selected="selected") MySQL
      format
    %textarea
    .instructions
      Translate to
      %select#output-format(name="output-format")
        %option(value="csv") CSV
        %option(value="html" selected="selected") HTML
        %option(value="json") JSON
        %option(value="ruby") Ruby
      %button Go!
  .output
