html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  font-family: Helvetica, Arial, sans-serif;
}

.input, .output {
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 10px;
  overflow: auto;
}

.input {
  left: 0;
  right: 50%;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: -1px;
  text-align: center;
}

.input .top-instructions {
  position: absolute;
  top: 0px;
  height: 50px;
  left: 10px;
  right: 10px;
  line-height: 50px;
}

.input .dropdown {
  position: relative;
  top: -2px;
  display: inline-block;
  width: 120px;
  height: 32px;
  overflow: hidden;
  background: url("/down.png") no-repeat right #ddd;
  border: 1px solid #ccc;
  vertical-align: middle;
}

.input .dropdown select {
  background: transparent;
  width: 144px;
  margin-left: -4px;
  padding-left: 10px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 32px;
}

.input .dropdown select:active {
  border: none;
}

.input label,
.input input,
.input button {
  position: relative;
  top: -2px;
  margin: 0 5px;
}

.input label {
  font-size: 24px;
  font-weight: normal;
  vertical-align: middle;
}

.input input,
.input button {
  display: inline-block;
  margin: 0 5px;
  font-size: 16px;
  vertical-align: middle;
}

.input button {
  width: 60px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.input textarea {
  position: absolute;
  top: 50px;
  bottom: 50px;
  left: 10px;
  right: 10px;
  font-family: monospace;
  font-size: 16px;
  padding: 10px;
}

.input .bottom-instructions {
  position: absolute;
  bottom: 0px;
  height: 50px;
  left: 10px;
  right: 10px;
  line-height: 50px;
}

.output {
  background-color: #81C6DD;
  left: 50%;
  right: 0;
}

.output.loading {
  background: #FFFFFF url("/loading.gif") no-repeat center;
}

.output.loading * {
  display: none;
}

.output.success {
  background-color: #DDDDDD;
}

table {
  border-collapse: collapse;
  margin: auto;
  text-align: left;
}

th, td {
  padding: 2ex 2em;
}

th {
  border-bottom: 2px solid black;
}
